.DS_Store
_backups/
_docs/
_html/assets/
node_modules/
bower_components/
npm-debug.log
package-lock.json
debug.log
src/videos/

wp-content/wflogs/
wp-content/uploads/
wp-content/upgrade/
wp-content/plugins/
wp-content/themes/customtheme/assets/
wp-admin/
wp-includes/
wp-content/themes/twentytwentyone/
wp-content/themes/chartsedge-new/
wp-content/themes/twentynineteen/
wp-content/themes/twentytwenty/
wp-content/themes/twentyseventeen/
wp-content/themes/twentytwentythree/
wp-content/index.php
wp-content/themes/index.php
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-mail.php
wp-login.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
